

<div class="container mt-5">

    <div class="btn-box d-flex justify-content-between align-items-center mb-3">
        <h2>Cadastro de Livros</h2>
        <a class="btn btn-success"><i class="bi bi-plus-circle mx-2"></i>Cadastrar novo Livro</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Genero</th>
                <th>Quantidade em Estoque</th>
                <th>Data de Cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="bi bi-people mx-1"></i>O Jantar Secreto</td>
                <td>Raphael Montes</td>
                <td>Suspense</td>
                <td><i class="bi bi-envelope-at mx-1"></i>10</td>
                <td><i class="bi bi-calendar mx-1"></i>21/01/2024</td>
                <td>
                    <a class="btn btn-warning"><i class="bi bi-file-earmark-zip mx-1"></i>Detalhes</a>
                    <a class="btn btn-primary"><i class="bi bi-pencil mx-1"></i>Editar</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
